body {
  margin: 0;
  padding: 0;
  background-color: #080710;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.nav li {
  margin: 0;
}

.nav a {
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding-top: 10px;
  color: #000000;
  white-space: nowrap;
  max-width: 100%;
  font-weight: bolder;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.27);
}

.active a {
  background-color: rgba(255, 255, 255, 0.47);
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
}

/* Dropdown Button */
.dropbtn {
  outline: none;
  border: none;
  text-decoration: none;
  width: 50%;
  margin: 0;
  font-size: 15px;
  display: block;
  color: #000000;
  max-width: 100%;
  font-weight: bolder;
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
}

.logoutbtn{
  outline: none;
  border: none;
  text-decoration: none;
  width: 50%;
  margin: 0;
  font-size: 15px;
  display: block;
  color: #000000;
  max-width: 100%;
  font-weight: bolder;
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.active .dropbtn{
  background-color: white;
  color: black;
}

.logo{
  cursor: pointer;
}

/* Sprachumschalter-Dropdown Styling */
.language-dropdown {
  margin-left: 50px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.dropdown-menu {
  min-width: 100px;
  margin-left: 50px;
}

.dropdown-item {
  color: #000000;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #000000;
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
}
