<h1>Leovote</h1>

<ul *ngIf="!voteService.isLoggedIn" class="nav nav-tabs">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="login">Login</a>
  </li>
  <li routerLinkActive="active">
    <div *ngIf="!adminService.isLoggedIn">
      <div class="dropdown">
        <button class="dropbtn">Admin Panel</button>
        <div class="dropdown-content">
          <a routerLink="admin">Log In</a>
        </div>
      </div>
    </div>
    <div *ngIf="adminService.isLoggedIn">
      <div class="dropdown">
        <button class="dropbtn">Admin Panel</button>
        <div class="dropdown-content">
          <a routerLink="admin/results">Results</a>
          <a routerLink="admin/create-candidate">Candidates</a>
          <a routerLink="admin/create-election">Elections</a>
        </div>
      </div>
    </div>
  </li>
</ul>

<ul *ngIf="voteService.isLoggedIn" class="nav nav-tabs">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="votes">Vote</a>
  </li>
</ul>

<hr>
<router-outlet></router-outlet>
