body {
  margin: 0;
  padding: 0;
  background-color: #080710;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
}

.nav a {
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding-top: 10px;
  color: #242526;
  white-space: nowrap;
  max-width: 100%;
  font-weight: bolder;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.27);
}

.active a {
  background-color: rgba(255, 255, 255, 0.47);
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
}

.dropbtn,
.logoutbtn {
  outline: none;
  border: none;
  text-decoration: none;
  width: 100px;
  margin: 0;
  font-size: 15px;
  display: block;
  color: #242526;
  max-width: 100%;
  font-weight: bolder;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.active .dropbtn {
  background-color: white;
  color: black;
}

.logo {
  cursor: pointer;
}
.language-dropdown {
  color: #242526;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #ccc;
  min-width: 100px;
  width: auto;
}

.dropdown-menu {
  min-width: 150px;
}

.dropdown-item {
  color: #242526;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #242526;
}

.d-flex {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.dropdown {
  margin-left: 20px;
}

.logo-span {
  width: 100px;
  margin-left: 2em;
  margin-right: 2em
}

.adminpanel-span {
  width: 100px;
  margin-left: 2em;
  font-size: 17px;
}

.toolbar {
  display: flex;
  align-items: center;
  color: #242526;
}

.spacer {
  flex: 1 1 auto;
}
