<h4 *ngIf="!doEdit">{{election.name}}, {{election.electionStart.toLocaleDateString()}},  {{election.electionEnd.toLocaleDateString()}},
  {{election.electionType}}</h4>
<div *ngIf="doEdit">
  <span>
    <div>
      <h3>Name: </h3>
      <input type="text" placeholder="Name" [(ngModel)]="createElection.name">
    </div>
  </span>
  <h3>Start of Election: </h3>
  <input type="date" [valueAsDate]="createElection.electionStart" (input)="createElection.electionStart=parseDate($event)">
  <h3>End of Election: </h3>
  <input type="date" [valueAsDate]="createElection.electionEnd" (input)="createElection.electionEnd=parseDate($event)">
  <div *ngIf="isError">
    <h5 style="color: red">End date must be equal to or after start date!</h5>
  </div>
  <span>
    <div>
      <h3>Type of Election: </h3>
        <input type="text" placeholder="Type" [(ngModel)]="createElection.electionType">
    </div>
  </span>
  <span>
    <div>
      <hr>
      <button (click)="create()">Done</button>
    </div>
  </span>
</div>
