<h2>Create Election</h2>
<div class="input">
  <label for="electionName">Election Name:</label>
  <input id="electionName" [(ngModel)]="election.name" placeholder="Election Name"/>
</div>
<div class="input">
  <label for="electionType">Election Type:</label>
  <input id="electionType" [(ngModel)]="election.electionType" placeholder="Election Type"/>
</div>
<div class="input">
  <label for="electionStart">Election Start:</label>
  <input id="electionStart" type="datetime-local" [(ngModel)]="election.electionStart"/>
</div>
<div class="input">
  <label for="electionEnd">Election End:</label>
  <input id="electionEnd" type="datetime-local" [(ngModel)]="election.electionEnd"/>
</div>

<div class="input">
  <h3>Select Participating Candidates:</h3>
  <div class="candidates" *ngFor="let candidate of availableCandidates">
    <h3>
      {{ candidate.firstName }} {{ candidate.lastName }}
    </h3>
    <input type="checkbox" [checked]="isSelected(candidate)" (change)="toggleCandidateSelection(candidate)"/>
  </div>
</div>
<div class="input">
  <button [disabled]="!checkMoreThanOneCandidate()" (click)="createElection()">Create Election</button>
</div>
