h2 {
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  padding-bottom: 3%;
  padding-top: 2%;
}

.add-button-container {
  position: fixed;      /* Fixes the button in place */
  bottom: 20px;         /* Adjusts distance from the bottom of the page */
  left: 50%;            /* Positions horizontally at the center */
  transform: translateX(-50%); /* Centers the button exactly in the middle */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;        /* Ensures it stays above other elements, if needed */
}

.input {
  margin-bottom: 15px;
}
.input input {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  background-color: #DAE3EB;
  width: 450px;
}

lection-table{
  width: 100%;
  margin: 0;
}

#name-input {
  width: 100%;
  font-size: 15px;
  height: 2.5em;
  font-weight: bold;
  border-radius: 8px;
  color: #797C80;
}

#number-input {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  height: 2.5em;
}

.type-select select {
  background-color: #f2f9ff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.5em;
  padding: 0 0 0 5px;
  color: #797C80;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.input-date {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;       /* Ensures text alignment for contents */
}

.input-date label {
  display: block;         /* Stacks label above the input */
  margin-bottom: 0.5em;   /* Adds spacing below the label */
  text-align: left;
  color: #242526;
}

.input-date input {
  background-color: #f2f9ff;
  color: #797C80;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  padding: 8px 12px;      /* Padding for comfort */
  width: calc(100%); /* Adjust width to account for padding */
  margin: 0;              /* Removes default margins */
  display: block;         /* Aligns input to start of container */
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-candidate-card {
  width: 80%;
  margin: 0;
}

.candidate-creation-container {
  margin: 0;
  width: 100%;
}

#create-election-table {
  margin: 0;
  width: 90%;
}

.table-template {
  width: 100%;
  margin: 0
}

.searchbar {
  width: 200px;
  height: 2em;
  background-color: #f2f9ff;
  color: #797C80;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

.checkbox-selected-candidate {
  height: 20px;
  width: 20px;
}
