<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>{{ 'elections' | translate }}</h2>
<table class="top-table">
  <tr>
    <th>
      <div class="card-container">
        <div class="custom-card" id="create-candidate-card">
          <h3>{{ 'create_election' | translate }}</h3>
          <div class="custom-card-content">
            <div class="candidate-creation-container">
              <input class="input-template" [(ngModel)]="this.election.name"
                     placeholder="{{ 'election_name' | translate }}"/>
              <br>
              <div class="input">
                <select id="electionType" [(ngModel)]="election.electionType" class="styled-select">
                  <option value="" disabled selected>{{ 'election_type' | translate }}</option>
                  <option value="MULTIVALUE">{{ 'multivalue' | translate }}</option>
                  <option value="CROSSES">{{ 'crosses' | translate }}</option>
                </select>
              </div>

              <div *ngIf="election.electionType === 'MULTIVALUE'">
                <input class="input-template" [(ngModel)]="this.election.maxPoints"
                       placeholder="{{ 'max_points' | translate }}"/>
              </div>
              <br>
              <div class="input">
                <label for="electionStart">{{ 'election_start' | translate }}:</label>
                <input id="electionStart" type="datetime-local" [(ngModel)]="election.electionStart"/>
              </div>
              <div class="input">
                <label for="electionEnd">{{ 'election_end' | translate }}:</label>
                <input id="electionEnd" type="datetime-local" [(ngModel)]="election.electionEnd"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th>
    <th>
      <div class="table-container" id="create-candidate-table">
        <table class="table-template">
          <thead>
          <tr>
            <th>{{ 'name' | translate }}</th>
            <th>{{ 'class' | translate }}</th>
            <th style="width: 50px">
              <input style="width: 150px;" type="text" (input)="filterCandidates()"
                     [(ngModel)]="searchText" placeholder="{{ 'search' | translate }}">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let candidate of tablePaginationService.getCurrentPageData(); let i = index">
            <td>{{ candidate.firstName }} {{ candidate.lastName }}</td>
            <td>{{ candidate.grade }}</td>
            <td>
              <input type="checkbox" [checked]="isSelected(candidate)"
                     (change)="toggleCandidateSelection(candidate)"/>

            </td>
          </tr>
          </tbody>
        </table>

        <div class="pagination-divider"></div> <!-- Divider line above pagination -->
        <div class="pagination">
          <button (click)="tablePaginationService.goToFirstPage()">
            <mat-icon>skip_previous</mat-icon> <!-- Skip to first -->
          </button>
          <button (click)="tablePaginationService.goToPreviousPage()">
            <mat-icon>navigate_before</mat-icon> <!-- Previous -->
          </button>
          <span class="page-info">{{ tablePaginationService.currentPage }}
            / {{ tablePaginationService.getPageCount() }}</span>
          <button (click)="tablePaginationService.goToNextPage()">
            <mat-icon>navigate_next</mat-icon> <!-- Next -->
          </button>
          <button (click)="tablePaginationService.goToLastPage()">
            <mat-icon>skip_next</mat-icon> <!-- Skip to end -->
          </button>
        </div>
      </div>
    </th>
  </tr>
</table>

<div class="add-button-container">
  <button class="button-template" [disabled]="isCreateButtonDisabled()" (click)="createElection()">{{ 'create_election' | translate }}</button>
</div>
