.container {
  display: flex;
  align-items: center;
}

.card {
  border: none;
  transition: transform 0.2s;
  font-weight: bolder;
  margin: 0;
  height: 600px;
  width: 320px;
  border-radius: 20px;
  background-color: #6D7E8D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-card {
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: fade;
  margin: 0;
  padding: 0;
}

.title-card h3 {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.container-for-image {
  padding-top: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 450px;
  max-width: 320px;
  object-fit: contain;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: red;
}

.vote-btn {
  width: 336px;
  height: 120px;
  font-weight: bolder;
  font-size: xxx-large;
  padding: 10px;
  background-color: #87B5D7;
  border-radius: 20px;
  outline: none;
  border: none;
}

.headliner-container {
  margin-left: 20vw;
}

.headliner-container h2 {
  font-weight: bold;
}

.rectangular-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid green;
  border-radius: 5px;
  outline: none;
}

.rectangular-radio:checked {
  background-color: green;
}
