<button (click)="doEdit = true">Create</button>
<ul *ngFor="let candidate of candidates">
  <li><h4>{{candidate.schoolId}}, {{candidate.firstName}} {{candidate.lastName}},  {{candidate.grade}}</h4></li>
</ul>
<div *ngIf="doEdit">
  <span>
    <div>
      <h3>SchoolId: </h3>
      <input *ngIf="doEdit" type="text" placeholder="School ID" [(ngModel)]="createCandidate.schoolId">
    </div>
  </span>
  <span>
    <div>
      <h3>First Name: </h3>
      <input *ngIf="doEdit" type="text" placeholder="First Name" [(ngModel)]="createCandidate.firstName">
    </div>
  </span>
  <span>
    <div>
      <h3>Last Name: </h3>
      <input *ngIf="doEdit" type="text" placeholder="Last Name" [(ngModel)]="createCandidate.lastName">
    </div>
  </span>
  <span>
    <div>
      <h3>Grade: </h3>
        <input *ngIf="doEdit" type="text" placeholder="Grade" [(ngModel)]="createCandidate.grade">
    </div>
  </span>
  <span>
    <div>
      <hr>
      <button *ngIf="doEdit" (click)="create()">Done</button>
    </div>
  </span>
</div>
