 <div *ngFor="let candidate of candidates">
    {{candidate.schoolId}},     {{candidate.firstName}},    {{candidate.lastName}},     {{candidate.grade}}

 </div>
 <button (click)="doEdit = true">Create</button>
<table *ngIf="doEdit">
  <tr>
    <td>
      <input type="text" placeholder="School Id" [(ngModel)]="createCandidate.schoolId">
    </td>
    <td>
      <input type="text" placeholder="First Name" [(ngModel)]="createCandidate.firstName">
    </td>
    <td>
      <input type="text" placeholder="Last Name" [(ngModel)]="createCandidate.lastName">
    </td>
    <td>
      <input type="text" placeholder="Grade" [(ngModel)]="createCandidate.grade">
    </td>
    <td>
      <button (click)="create()">Done</button>
    </td>
  </tr>
</table>
