<div *ngIf="!isVoted" class="headliner-container">
  <h2>{{ election?.name }}</h2>
  <p>Logged in as: {{ keycloakService.getUsername() }}</p>
</div>
<div *ngIf="!isVoted" class="container">
  <div class="movies-container">
    <h3>Candidate</h3>
    <div
      cdkDropList
      [cdkDropListData]="election?.participatingCandidates"
      class="candidates-list"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="allDropLists"
      id="candidates-list"
    >
      <div *ngFor="let candidate of election?.participatingCandidates" class="movie-item" cdkDrag>
        <div class="candidate-box">
          {{ candidate.lastName }} {{ candidate.firstName }}
          <img *cdkDragPreview [src]="getBase64Image(candidate.pathOfImage)" [alt]="candidate.firstName">
        </div>
      </div>
    </div>
  </div>

  <!-- Right side: rating boxes -->
  <div class="rating-container">
    <h3>Punkte</h3>
    <div *ngFor="let point of points; let i = index" class="rating-box">
      <h4>{{ point }} Punkte</h4>
      <div
        cdkDropList
        [cdkDropListData]="ratedCandidates[i]"
        class="example-list"
        (cdkDropListDropped)="dropToRating($event, i)"
        [cdkDropListConnectedTo]="allDropLists"
        [id]="'rating-list-' + i"
      >
        <div *ngFor="let candidate of ratedCandidates[i]" class="movie-item" cdkDrag>
          <div class="candidate-box">
            {{ candidate.lastName }} {{ candidate.firstName }}
            <img *cdkDragPreview [src]="getBase64Image(candidate.pathOfImage)" [alt]="candidate.lastName">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="!isVoted">
  <div class="containerBtn d-flex gap-2">
    <button (click)="resetCandidatesList()" class="ResetButton"><span>Reset</span></button>
    <button (click)="openConfirmationDialog()" class="SubmitButton"><span>Submit</span></button>
  </div>
</div>
<!--<div *ngIf="!isVoted" class="submit-container">-->
<!--  <button mat-raised-button color="primary" (click)="openConfirmationDialog()">Submit</button>-->
<!--  <button mat-raised-button color="warn" (click)="resetCandidatesList()">Reset Candidates</button>-->
<!--</div>-->
<div *ngIf="isVoted" class="container">
  <div class="d-flex flex-column align-items-center">
    <h2>Thank you for voting in {{ election?.name }}</h2>
  </div>
</div>
<ng-template #confirmationDialog>
  <h3>Confirmation</h3>
  <p>Are you sure, you want to continue with your vote?</p>
  <button mat-button (click)="confirmVote()">Yes</button>
  <button mat-button (click)="cancelVote()">No</button>
</ng-template>
