
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.candidates-list-container,
.candidates-rating-container {
  align-items: center;
  justify-content: center;
}

.candidates-list,
.example-list {
  border-radius: 10px;
  width: 95%;
  min-height: 65px;
  align-items: center;
}

.candidate-box {
  display: flex;
  background-color: #F2F9FF;
  color: #797C80;
  height: 3.5vw;
  font-size: 17px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.cdk-drag-preview {
  width: 250px;
  height: auto;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}


.candidates-list-container .rating-box {
  /*background-color: #DEFFFA;*/
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.rating-box h4 {
  color: black;
  font-size: 16px;
  font-weight: bold;
}


.headliner-container h2 {
  font-weight: bold;
  color: black;
}


.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

button.mat-raised-button.color-primary {
  background-color: #12632D;
  color: white;
}

button.mat-raised-button.color-warn {
  background-color: #A8151C;
  color: white;
}


#confirmationDialog h3 {
  color: black;
}

.SubmitButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #12632D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.ResetButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #A8151C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}


.SubmitButton:disabled, .ResetButton:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}


.SubmitButton span, .ResetButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.SubmitButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.SubmitButton:hover span {
  padding-right: 25px;
}

.SubmitButton:hover span:after {
  opacity: 1;
  right: 0;
}


.ResetButton span:after {
  content: '\21BA';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.ResetButton:hover span {
  padding-left: 25px;
}

.ResetButton:hover span:after {
  opacity: 1;
  left: 0;
}


.confirmation-dialog {
  background-color: #f9f9f9;
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.confirmation-dialog h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.confirmation-dialog p {
  color: #333333;
  font-size: 16px;
  margin-bottom: 20px;
}


.dialog-button-container {
  display: flex;
  justify-content: space-around;
}

::ng-deep .mat-mdc-button {
  color: white;
}

.confirm-button, .cancel-button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
}


.confirm-button {
  background-color: #12632D;
}


.cancel-button {
  background-color: #A8151C;
}

.confirm-button:hover, .cancel-button:hover {
  transform: scale(1.05);
}

.candidates-rating-container .rating-box {
  width: 100%;
  height: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #B6BABF;
}

.points-column {
  text-align: center;
  overflow: hidden;
}

.candidates-rating-container .candidates-list-item {
  background-color: #B6BABF;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  transition: transform 0.2s;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}


.candidates-list-container .candidates-list-item {
  border-radius: 10px;
  padding-top: 2em;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  transition: transform 0.2s;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.top-table {
  width: 100%;
}

.top-table tr th {
  width: 33%;
  align-content: center;
  align-items: center;
}

.centered-elements-th {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.candidate-element {
  height: 100%;
  width: 100%;
  border: black solid;
  border-width: 10px;
}

.table-template {
  border-collapse: collapse;
}

.table-template td, .table-template th {
  border: 1px solid black;
}

.table-template tr:first-child th {
  border-top: 0;
}

.table-template tr:last-child td {
  border-bottom: 0;
}

.table-template tr td:first-child,
.table-template tr th:first-child {
  border-left: 0;
}

.table-template tr td:last-child,
.table-template tr th:last-child {
  border-right: 0;
}

#candidate-point-card {
  padding: 0;
}

.table-template tr:nth-child(odd) .candidate-box {
  background-color: #DAE0E5 !important;
}

.table-template tr:nth-child(even) .candidate-box {
  background-color: #F2F9FF !important;
}

.left-grid-tile{
  justify-content: left;
}
