<div *ngIf="!isVoted && electionInFuture">
  <div class="headliner-container">
    <h2>{{ election?.name }}</h2>
    <p>Logged in as: {{ keycloakService.getUsername() }}</p>
    <h2 *ngIf="isSelected" style="align-content: center; justify-content: center">Do you want to vote
      for {{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}?</h2>
  </div>

  <div class="container-lg" *ngIf="!isSelected">
    <div class="row">
      <div *ngFor="let candidate of election?.participatingCandidates; let index" class="col-md-6"
           style="width: 0; padding-right: 340px; padding-bottom: 20px">
        <div (click)="selectedCandidate = candidate" class="card mb-4 box-shadow text-center h-100"
             style="align-content: center">
          <div class="container-for-image">
            <img class="card-img-top mx-auto my-auto" [src]="getBase64Image(candidate.pathOfImage)"
                 alt="{{ candidate.firstName }} {{ candidate.lastName }}">
          </div>
          <div class="card-body">
            <div class="title-card">
              <h3 class="card-title">{{ candidate.firstName }}</h3>
              <h3 class="card-title"> {{ candidate.lastName }} </h3>
              <h4>{{ candidate.grade }}</h4>
            </div>
            <input class="rectangular-radio" type="radio" [(ngModel)]="selectedCandidate" [value]="candidate"
                   id="{{ 'candidate' + index }}">

          </div>
        </div>
      </div>
    </div>
    <div class="containerBtn">
      <button (click)="select()" [disabled]="selectedCandidate == undefined" class="SelectButton"><span>Select</span>
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isSelected && !isVoted">
  <div class="card mb-4 box-shadow text-center h-100" style="align-content: center">
    <div class="container-for-image" style="height: 80%">
      <img class="card-img-top mx-auto my-auto" [src]="getBase64Image(selectedCandidate?.pathOfImage)"
           alt="{{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}">
    </div>
    <div class="card-body">
      <div class="title-card">
        <h3 class="card-title">{{ selectedCandidate?.firstName }}</h3>
        <h3 class="card-title"> {{ selectedCandidate?.lastName }} </h3>
        <h4>{{ selectedCandidate?.grade }}</h4>
      </div>
      <input *ngIf="!isSelected" class="rectangular-radio" type="radio" [(ngModel)]="selectedCandidate"
             [value]="selectedCandidate ">
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isSelected && !isVoted">
  <div class="containerBtn d-flex gap-2">
    <button (click)="deselect()" class="NoButton"><span>NO</span></button>
    <button (click)="voting()" class="YesButton"><span>YES</span></button>
  </div>
</div>


<div *ngIf="isVoted" class="container">
  <div class="d-flex flex-column align-items-center">
    <h2>Thank you for voting in {{ election?.name }}</h2>
    <div class="card mb-4 box-shadow text-center h-100" style="align-content: center">
      <div class="container-for-image">
        <img class="card-img-top mx-auto my-auto" [src]="getBase64Image(selectedCandidate?.pathOfImage)"
             alt="{{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}">
      </div>
      <div class="card-body">
        <div class="title-card">
          <h3 class="card-title">{{ selectedCandidate?.firstName }}</h3>
          <h3 class="card-title"> {{ selectedCandidate?.lastName }} </h3>
          <h4>{{ selectedCandidate?.grade }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!electionInFuture" class="container">
  <h2>Election {{ election?.name }} has already ended</h2>
  <br>
  <p>We're sorry!</p>
</div>
