<div *ngIf="!isVoted && electionInFuture">
  <div class="headliner-container">
    <h2>{{ election?.name }}</h2>
    <p>{{ 'logged_in_as' | translate }}: {{ keycloakService.getKeycloakInstance().profile?.firstName }}</p>
    <h2 *ngIf="isSelected" style="align-content: center; justify-content: center">{{ 'confirm_vote_for' | translate }}
      {{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}?</h2>
  </div>

  <div class="container-lg" *ngIf="!isSelected">
    <div class="row">
      <div *ngFor="let candidate of election?.participatingCandidates; let index = index" class="col-md-6"
           style="width: 0; padding-right: 340px; padding-bottom: 20px;">
        <mat-card class="candidate-card"
                  [ngClass]="{'selected-candidate-border': selectedCandidate === candidate}"
                  appearance="outlined"
                  (click)="selectedCandidate = candidate">
          <div class="image-container">
            <img [src]="getBase64Image(candidate.pathOfImage)"
                 alt="{{ candidate.firstName }} {{ candidate.lastName }}"
                 class="responsive-image"/>
          </div>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                {{ candidate.firstName }} {{ candidate.lastName }}
              </mat-card-title>
              <mat-card-subtitle>{{ candidate.grade }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="containerBtn">
      <button (click)="select()" [disabled]="selectedCandidate == undefined" class="button-template">
        <span>{{ 'select' | translate }}</span>
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isSelected && !isVoted">
      <mat-card class="candidate-card">
        <div class="image-container">
          <img [src]="getBase64Image(selectedCandidate?.pathOfImage)"
               alt="{{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}"
               class="responsive-image"/>
        </div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              {{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName}}
            </mat-card-title>
            <mat-card-subtitle>{{ selectedCandidate?.grade }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
</div>

<div class="d-flex justify-content-center" *ngIf="isSelected && !isVoted">
  <div class="containerBtn d-flex gap-2">
    <button (click)="deselect()" class="NoButton"><span>{{ 'no' | translate }}</span></button>
    <button (click)="voting()" class="YesButton"><span>{{ 'yes' | translate }}</span></button>
  </div>
</div>


<div *ngIf="isVoted" class="container">
  <div class="d-flex flex-column align-items-center">
    <h2>{{ 'thank_you_for_voting_in' | translate }} {{ election?.name }}</h2>
    <mat-card class="candidate-card">
      <div class="image-container">
        <img [src]="getBase64Image(selectedCandidate?.pathOfImage)"
             alt="{{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName }}"
             class="responsive-image"/>
      </div>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            {{ selectedCandidate?.firstName }} {{ selectedCandidate?.lastName}}
          </mat-card-title>
          <mat-card-subtitle>{{ selectedCandidate?.grade }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div *ngIf="!electionInFuture" class="container">
  <h2>{{ 'election_ended' | translate }} {{ election?.name }}</h2>
  <br>
  <p>{{ 'sorry' | translate }}</p>
</div>
