*,
*:before,
*:after {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-color: #F2F9FF;
  position: absolute;
  color: #3D3E40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

label {
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-container {
  background-color: #E9EFF2;
  border-style: dotted;
  border-color: #8A8A8A;
  border-width: 1px;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionally set a height to vertically center within the container */
  max-height: 200px;
  min-height: 150px;
  min-width: 200px;
  margin-left: 5vw;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* General Card Template */

.custom-card {
  border-radius: 30px;
  text-align: center;
  margin-right: 10vw;
  background-color: #DAE0E5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Adds a soft shadow */
  padding: 0; /* No padding on the outer card */
  box-sizing: border-box; /* Ensures padding doesn’t increase total width */
  overflow: hidden; /* Ensures inner elements respect the border radius */
}

.custom-card h3 {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #797C80;
  color: #F2F9FF;
  font-size: 40px;
  padding: 20px; /* Controls height without clipping */
  font-weight: bold;
  border-radius: 30px 30px 0 0;
  width: 100%; /* Full width to match card */
  box-sizing: border-box;
  margin: 0; /* Remove margin to prevent shifting */
  line-height: 1.2; /* Increase line spacing for better readability */
  min-height: 70px; /* Allow for minimum height, but expand if needed */
}

.custom-card p {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  outline: none;
  border: none;
  margin: 0; /* Remove margin to prevent shifting */
  padding: 35px; /* Controls height without clipping */
  font-size: 32px; /* Adjusted font size */
  font-weight: bold;
  width: 100%; /* Full width to match card */
  cursor: pointer;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  background-color: #DAE0E5; /* Ensure it matches the background */
  line-height: 1.2; /* Increase line spacing for better readability */
  min-height: 75px; /* Allow for minimum height, but expand if needed */
}

.custom-card select {
  outline: none;
  border: none;
  padding: 20px;
  background-color: #DAE3EB;
  border-radius: 0 0 30px 30px;
  cursor: pointer;
}

.button-template {
  border-radius: 31px;
  background-color: #797C80;
  color: #F2F9FF;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Button Template */

.button-template:hover {
  background-color: #6D7073; /* Darker color */
  transform: scale(1.05); /* Slightly increase size for emphasis */
}

.button-template:active {
  background-color: #616366; /* Even darker color */
  transform: scale(0.98); /* Slightly shrink for "pressed" effect */
}
.button-template:disabled {
  background-color: #000000; /* Even darker color */
  transform: scale(0.98); /* Slightly shrink for "pressed" effect */
}

/* Delete Table row button */

.transparent-button {
  color: #3D3E40;
  background-color: transparent;
  font-size: 24px;
  border: none;
  text-align: left;
}

.transparent-button:hover {
  color: #3D3E40;
  background-color: transparent;
  transform: scale(1.05); /* Slightly increase size for emphasis */
}

.transparent-button:active {
  color: #3D3E40;
  background-color: transparent;
  transform: scale(0.98); /* Slightly shrink for "pressed" effect */
}

.transparent-button-icon {
  transform: scale(1.5);
}

/* Table Template */

/* Table Container with Rounded Corners */
.table-container {
  width: 40%;
  overflow: scroll;
  margin: auto;
  border: 1px solid #DAE0E5;
  border-radius: 20px; /* Rounded corners for container */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.table-template {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  overflow: hidden; /* Prevent table cells from overflowing the rounded corners */
}

.table-template th,
.table-template td {
  padding: 20px 50px;
  text-align: left;
}

.table-template th {
  background-color: #797C80;
  color: #F2F9FF;
  font-weight: bold;
  font-size: 28px;
}

.table-template td {
  height: 65px;
  font-size: 24px;
}

.table-template tbody tr:nth-child(even) {
  background-color: #DAE0E5;
}

.table-template tbody tr:nth-child(odd) {
  background-color: #F2F9FF;
}

.table-template tbody tr td:last-child {
  text-align: center;
  color: #333;
}

/* Divider line above pagination */
.pagination-divider {
  border-top: 2px solid #797C80;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #797C80;
  background-color: #F2F9FF;
  gap: 10px; /* Space between buttons and info */
}

.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #797C80;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.pagination .page-info {
  font-weight: bold;
  color: #333;
}

.pagination button:hover {
  color: #3D3E40;
}


/*New Card for candidate*/

.image-container {
  width: 80%; /* Take full width of the card */
  padding-top: 80%; /* Sets height to 1:1 aspect ratio */
  position: relative; /* Allows absolute positioning of the image */
  overflow: hidden; /* Hides overflow to crop the image */
  margin-top: 1vw;
  border-radius: 10px;
  border: 1px solid #DAE0E5;
}

.responsive-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container without distortion */
}

.candidate-card {
  width: 300px;
  border-radius: 10px;
  background-color: #B6BABF;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.candidate-card:hover {
  transform: translateY(-10px); /* Moves the card slightly upwards */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
}


.candidate-card mat-card-header mat-card-title-group {
  text-align: center;
  height: 120px
}

.candidate-card mat-card-header mat-card-title-group mat-card-title {
  font-size: 1.9em;
  color: #242526;
}

.candidate-card mat-card-header mat-card-title-group mat-card-subtitle {
  font-size: 1.2em;
  color: #242526;
}

.candidate-card mat-card-actions button {
  background-color: #D9D9D9;
  width: 160px;
  font-size: 1.7em;
  font-weight: bold;
  color: #3D3E40;
  border-radius: 8px;
  margin-bottom: 30px;
}

/* Input-Template */

.input-template {
  background-color: #F2F9FF;
  color: #797C80;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  padding: 5px;
}
