h2 {
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  padding-bottom: 3%;
  padding-top: 2%;
}

.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px; }
.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%; }
.status .active {
  background: #cff6dd;
  color: #1fa750; }
.status .active:after {
  background: #23bd5a; }

.status .closed {
  background: #fdf5dd;
  color: #cfa00c; }
.status .closed:after {
  background: #f2be1d; }


body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: #f1f1f1;
}
#presentation {
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border-radius: 10px;
}
#presentation h1 {
  font-weight: 400;
}
#presentation h3 {
  font-weight: 400;
  color: #666;
}
#presentation:hover {
  box-shadow: 0 12px 28px -5px rgba(0, 0, 0, 0.13);
  transition: all 0.3s;
  transform: translateZ(10px);
}

.table-template thead{
  height: 50px
}
/**/
