<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Election Overview</h2>

<div class="container-lg">
  <table class="table">
    <thead class="thead-black">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let election of elections; let i = index">
    <tr>
      <th scope="row">{{ i }}</th>
      <td>{{ election.name }}</td>
      <td>{{ election.electionType }}</td>
      <td class="status" *ngIf="isDateAfterNow(election.electionEnd)">
        <span class="active">Active</span>
      </td>
      <td class="status" *ngIf="isDateBeforeNow(election.electionEnd)">
        <span class="closed">Closed</span>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" routerLink="emails" (click)="selectElection(election)">Upload
          Emails
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-success" routerLink="results" (click)="selectElection(election)">Results
        </button>
      </td>
      <td>
        <button (click)="deleteElection(election.id)" class="btn">
          <i class="fa fa-trash fa-2x"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="container-floating">

  <div class="nd3 nds" routerLink="create-candidate"><img class="reminder" src="./assets/img-frontend/candidate.png" height="25px" width="25px" alt="picture of candidate"/></div>

  <div routerLink="create-election" class="nd1 nds">
    <p class="letter">+</p>
  </div>

  <div id="floating-button">
    <p class="plus">+</p>
    <img class="edit" src="./assets/img-frontend/edit-icon.png" alt="Edit Icon">
  </div>
</div>
