<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>{{ 'election_overview' | translate }}</h2>

<div id="container-floating">
  <div class="nd3 nds" [routerLink]="['/admin', 'overview' ,'candidate-overview']">
    <img class="reminder" src="./assets/img-frontend/candidate.png" height="25px" width="25px"
         alt="{{ 'candidate' | translate }}"/>
  </div>

  <div routerLink="create-election" class="nd1 nds">
    <p class="letter">+</p>
  </div>

  <div id="floating-button">
    <p class="plus">+</p>
    <img class="edit" src="./assets/img-frontend/edit-icon.png" alt="{{ 'edit_icon' | translate }}">
  </div>
</div>

<div class="table-container">
  <table class="table-template">
    <thead>
    <tr>
      <th scope="col">{{ 'id' | translate }}</th>
      <th scope="col">{{ 'name' | translate }}</th>
      <th scope="col">{{ 'type' | translate }}</th>
      <th scope="col">{{ 'status' | translate }}</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">{{ 'remove' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let election of tablePaginationService.getCurrentPageData(); let i = index">
      <td>{{ election.id }}</td>
      <td>{{ election.name }}</td>
      <td>{{ election.electionType }}</td>
      <td class="status" *ngIf="isDateAfterNow(election.electionEnd) && isDateBeforeNow(election.electionStart)">
        <span class="active">{{ 'active' | translate }}</span>
      </td>
      <td class="status" *ngIf="isDateBeforeNow(election.electionEnd) || isDateAfterNow(election.electionStart)">
        <span class="closed">{{ 'closed' | translate }}</span>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" routerLink="emails" (click)="selectElection(election)">
          {{ 'upload_emails' | translate }}
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-success" routerLink="results" (click)="selectElection(election)">
          {{ 'results' | translate }}
        </button>
      </td>
      <td>
        <button mat-icon-button (click)="confirmDelete(election.id, election)" class="btn">
          <mat-icon style="font-weight: 700">remove</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-divider"></div> <!-- Divider line above pagination -->
  <div class="pagination">
    <button (click)="tablePaginationService.goToFirstPage()">
      <mat-icon>skip_previous</mat-icon> <!-- Skip to first -->
    </button>
    <button (click)="tablePaginationService.goToPreviousPage()">
      <mat-icon>navigate_before</mat-icon> <!-- Previous -->
    </button>
    <span class="page-info">{{ tablePaginationService.currentPage }}
      / {{ tablePaginationService.getPageCount() }}</span>
    <button (click)="tablePaginationService.goToNextPage()">
      <mat-icon>navigate_next</mat-icon> <!-- Next -->
    </button>
    <button (click)="tablePaginationService.goToLastPage()">
      <mat-icon>skip_next</mat-icon> <!-- Skip to end -->
    </button>
  </div>
</div>
