<h2>{{ 'update_candidate' | translate }} {{ candidate.firstName }} {{ candidate.lastName }}</h2>

<table class="table-candidate-update">
  <tr>
    <th>
      <div class="container-lg">
        <div class="row">
          <div class="col-md-6"
               style="width: 0; padding-right: 340px; padding-bottom: 20px">
            <mat-card class="candidate-card" appearance="outlined">
              <div class="image-container">
                <img [src]="getBase64Image(candidate.pathOfImage)"
                     alt="{{ candidate.firstName }} {{ candidate.lastName }}"
                     class="responsive-image"/>
              </div>
              <mat-card-header>
                <mat-card-title-group style="">
                  <mat-card-title>
                    {{ candidate.firstName }} {{ candidate.lastName }}
                  </mat-card-title>
                  <mat-card-subtitle>{{ candidate.grade }}</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </div>
    </th>
    <th class="input-th">
      <div class="candidate-creation-container">
        <div class="input">
          <input [(ngModel)]="updatedCandidate.firstName" placeholder="{{ 'first_name' | translate }}"/>
        </div>
        <div class="input">
          <input [(ngModel)]="updatedCandidate.lastName" placeholder="{{ 'last_name' | translate }}"/>
        </div>
        <div class="input">
          <input [(ngModel)]="updatedCandidate.grade" placeholder="{{ 'class' | translate }}"/>
        </div>
        <p>{{ 'image' | translate }}: </p>
        <div class="input">
          <input type="file" id="imageInput" (change)="onImageChange($event)">
        </div>
        <div class="input">
          <button [disabled]="checkFields()" (click)="updateCandidate()">{{ 'update_candidate_button' | translate }}
          </button>
        </div>
      </div>
    </th>
  </tr>
</table>

<div id="container-floating">
  <div [routerLink]="['/admin', 'overview' ,'candidate-overview']" id="floating-button">
    <img class="reminder" src="./assets/img-frontend/back.png" height="25px" width="25px"
         alt="{{ 'picture_of_candidate' | translate }}"/>
  </div>
</div>
