  <h2>Create Candidate</h2>

  <div class="input">
    <label>School ID:</label>
    <input [(ngModel)]="candidate.schoolId" placeholder="School ID"/>
  </div>
  <div class="input">
    <label>First Name:</label>
    <input [(ngModel)]="candidate.firstName" placeholder="First Name"/>
  </div>
  <div class="input">
    <label>Last Name:</label>
    <input [(ngModel)]="candidate.lastName" placeholder="Last Name"/>
  </div>
  <div class="input">
    <label>Grade:</label>
    <input [(ngModel)]="candidate.grade" placeholder="Grade"/>
  </div>
  <!--
  <div>
    <label>Image:</label>
    <input type="file" (change)="onImageChange($event)" />
  </div>-->
  <div class="input">
    <button (click)="createCandidate()">Create Candidate</button>
  </div>
  <div class="input">
    <input type="file" (change)="onFileChange($event)">
    <button [disabled]="!isCsvUploaded" (click)="parseCSV()">Upload</button>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let candidate of candidates; let index" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" [src]="'assets/images/' + candidate.pathOfImage" alt="{{ candidate.firstName }} {{ candidate.lastName }}">
          <div class="card-body">
            <h3 class="card-title">{{ candidate.firstName }} {{ candidate.lastName }}</h3>
            <button (click)="deleteCandidate(candidate)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
