<h2>{{ 'candidates' | translate }}</h2>
<div style="color: red; text-align: center" *ngIf="errorMessage">
  {{ errorMessage }}
</div>


<mat-grid-list cols="5" rowHeight="18.5em">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="3">

    <div class="table-container" id="create-candidate-table">
      <table class="table-template">
        <thead>
        <tr>
          <th>{{ 'school_id' | translate }}</th>
          <th>{{ 'name' | translate }}</th>
          <th>{{ 'class' | translate }}</th>
          <th>{{'remove' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let candidate of tablePaginationService.getCurrentPageData(); let i = index">
          <td>{{ candidate.id }}</td>
          <td>{{ candidate.firstName }} {{ candidate.lastName }}</td>
          <td>{{ candidate.grade }}</td>
          <td>
            <button mat-icon-button style="background-color: rgba(255,0,0,0)" (click)="confirmDelete(candidate)" class="btn">
              <mat-icon style="font-weight: 700">remove</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="pagination-divider"></div> <!-- Divider line above pagination -->
      <div class="pagination">
        <button (click)="tablePaginationService.goToFirstPage()">
          <mat-icon>skip_previous</mat-icon> <!-- Skip to first -->
        </button>
        <button (click)="tablePaginationService.goToPreviousPage()">
          <mat-icon>navigate_before</mat-icon> <!-- Previous -->
        </button>
        <span class="page-info">{{ tablePaginationService.currentPage }}
          / {{ tablePaginationService.getPageCount() }}</span>
        <button (click)="tablePaginationService.goToNextPage()">
          <mat-icon>navigate_next</mat-icon> <!-- Next -->
        </button>
        <button (click)="tablePaginationService.goToLastPage()">
          <mat-icon>skip_next</mat-icon> <!-- Skip to end -->
        </button>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1">
    <div class="card-container">
      <div class="custom-card" id="csv-card">
        <h3>CSV upload</h3>
        <div class="custom-card-content" id="card-content-candidate">
          <div class="centered-elements">
            <img
              src="./assets/img-frontend/upload.png"
              height="10%"
              width="10%"
              (click)="fileInput.click()"
              style="cursor: pointer;"
              alt="Upload icon"
            >

            <!-- Hidden file input element -->
            <input
              type="file"
              #fileInput
              style="display: none;"
              (change)="onFileChange($event)"
            >

            <!-- Display the file name if selected -->
            <div *ngIf="fileName">{{ fileName }}</div>

            <button class="button-template" id="custom-button-upload" [disabled]="!isCsvUploaded" (click)="parseCSV()">{{ 'upload_button' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
    <div class="card-container">
      <div class="custom-card" id="create-candidate-card">
        <h3>Create Candidate</h3>
        <div class="custom-card-content">
          <div class="candidate-creation-container">
            <input class="input-template" [(ngModel)]="this.candidate.schoolId" placeholder="{{ 'school_id' | translate }}"/>
            <br>
            <input class="input-template" [(ngModel)]="this.candidate.firstName"
                   placeholder="{{ 'first_name' | translate }}"/>
            <br>
            <input class="input-template" [(ngModel)]="this.candidate.lastName" placeholder="{{ 'last_name' | translate }}"/>
            <br>
            <input class="input-template" [(ngModel)]="this.candidate.grade" placeholder="{{ 'class' | translate }}"/>
            <div class="file-upload-row">
              <p>{{ 'image' | translate }}:</p>
              <input type="file" (change)="onImageChange($event)">
            </div>
              <button class="button-template" (click)="createCandidate()">{{ 'create_candidate_button' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
