<div class="background" *ngIf="!isLoggedIn;">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<div class="form" *ngIf="!isLoggedIn;">
  <div class="login">

    <h2>Login</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit" (click)="login()">Login</button>
  </div>
</div>


<div *ngIf="isLoggedIn">
  <h1>Admin Panel</h1>

  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLink]="['results']"><a>Results/Email</a></li>
    <li routerLinkActive="active" [routerLink]="['create-candidate']"><a>Create Candidate</a></li>
    <li routerLinkActive="active" [routerLink]="['create-election']"><a>Create Election</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
